

.index_h1
{
  color: blueviolet;
  font-size: xx-large;
  text-align: center;
  


}
nav
{
  background-color: steelblue;
  opacity: 0.5;
}

.nav_links
{
  list-style: none;
}

.nav_links li
{
display: inline-block;
padding: 0px,20px;
margin-left: 7px;
font-size: large;
}

.nav_links a
{
color: white;
transition: all 0.3s ease 0s;

}

.nav_links a :hover
{
color:rgb(35, 57, 117);
}

button
{
  padding: 9px , 25px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navbar_logo
{
  height: 48px;
  width: 48px;
  padding: 2px,10px;
}


.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  opacity: 0.5;
}

.index_intro_text
{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}




* {box-sizing: border-box;}


body
{
margin:30px;
}
.index_h1
{
    color: blueviolet;
    padding: 2px,10px;
}

.my_container
{
margin: auto;
border:1px;
}

.my_row
{
border:3px;
}

.my_column
{
margin: 50px;
 
border:3px;

}

  .footer {
    background-color: #0099cc;
      font-size: larger;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black;
  }

  .ozgecmis
  {
      width: 1000px;
      margin: auto;
  }


  /*SLİDE SHOW İÇİN GEREKEN STİL SINIFLARI*/

  * {box-sizing:border-box}
  .slider_container
  {
    max-width: 1000px;
    position: relative;
    margin: auto;

  }

  .slider
  {
    display: block;
    margin: auto;
    width: 500px;
    
  }

  .prev_button ,.next_button
  {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: black;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6 ease;
      border-radius: 0 3px 3px 0;
      user-select: none;

  }

  .next_button
  {
      right:0;
      border-radius: 3px 0 0 3px;
  }

.prev_button:hover, .next_button:hover
{
    background-color: rgba(0, 0, 0, 0);
}

.text
{
  color: black;
  font-size: 15px;
  position: absolute;
  text-align: center;
   width: 500px;
   
}

.picture_number 
{
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover 
  {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }